@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

@config "./config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;
