VITE_PEERPREP_FRONTEND_PORT=3000
VITE_PEERPREP_QUESTION_SPA_PORT=3001
JWT_SECRET= # Any random string. Can use https://generate-secret.vercel.app
ADMIN_SIGNUP_TOKEN= # Admin need to provide this value to sign up. Any random string, can use https://generate-secret.vercel.app
OPENAI_API_KEY=
