VITE_PEERPREP_FRONTEND_PORT=3000
VITE_PEERPREP_QUESTION_SPA_PORT=3001
VITE_USER_SERVICE_PORT=3002
VITE_QUESTION_SERVICE_PORT=3003

# Connection string to the MongoDB instance.
# If you use docker-compose, use the following value as-is.
# If you use MongoDB Atlas, use the connection string provided by MongoDB Atlas.
DATABASE_URL="mongodb://root:root@localhost:27017/peerprep?authSource=admin&replicaSet=rs0&retryWrites=true&w=majority&directConnection=true"
JWT_SECRET= # Any random string. Can use https://generate-secret.vercel.app

ADMIN_SIGNUP_TOKEN= # Admin need to provide this value to sign up. Any random string, can use https://generate-secret.vercel.app
